<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Frontpage - Start Bootstrap Template</title>


  <%= stylesheet_link_tag    "bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "business-frontpage.css", media: "all", "data-turbolinks-track" => true %>



  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">On the Spot Couriers</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Login</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Testimonials</a>
        </li>
        <li>
          <a href="#">Terms and Conditions</a>
        </li>


      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="tagline">On the Spot Couriers</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <hr>

  <div class="row">
    <div class="col-sm-8">
      <h2>On the Spot Couriers</h2>
      <p>Welcome to on the spot couriers. Whether you need parcels couriered across town or across the country, our friendly courier and cost effective service will save you time and money.”  Real time tracking - Door to Door - Direct & Indirect – Local & Interstate</p>
      <p>
        <a class="btn btn-default btn-lg" href="#">Receive a Quote &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h2>Contact Us</h2>
      <address>
        <strong>Start Bootstrap</strong>
        <br>3481 Melrose Place
        <br>Beverly Hills, CA 90210
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>(123) 456-7890
        <br>
        <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <div class="row">
    <div class="col-sm-4">



      <img src="/assets/Image1.jpg" class="img-circle img-responsive img-center"/>
      <!--<h2>Marketing Box #1</h2>-->
      <p>Your business or individual packages can rely on our speedy and reliable couriers to deliver on time.  With on the spot we guarantee a fast and secure delivery – typically ranging from immediate to 3 hours. All our drivers are uniformed and security cleared for peace of mind</p>
    </div>
    <div class="col-sm-4">
      <img src="/assets/Image2.jpg" class="img-circle img-responsive img-center"/>
      <!--<h2>Marketing Box #2</h2>-->
      <p>Experience real-time track and trace technology with On the Spot, coupled with electronic proof of delivery to ensure that you can track your product from origin to destination with no complications. Optional SMS or email notifications can be arranged.</p>
    </div>
    <div class="col-sm-4">

      <img src="/assets/Image3.jpg" class="img-circle img-responsive img-center"/>

      <!--<h2>Marketing Box #3</h2>-->
      <p>Choose between a range of delivery or pickup methods for your parcel. From Standard, to express or even priority service, at On the Spot we have a plan that will work just for you.</p>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="assets/js/fluidvids.js"></script>



<!-- /.container -->
</body>

</html>
